*.pyc
*.bak
tests/.cache/v/cache/lastfailed
acrg_tdmcmc/param.ini
acrg_satellite/gosat_process.ini
tests/files/LPDM/raw_output/*/*/PROCESS*.txt
tests/files/LPDM/raw_output/*/*/Processed_Fields_files/*
tests/files/LPDM/raw_output/*/*/Processed_Fields_files_Org
tests/files/raw_obs/H2OCorr/Plots/BSD/*
tests/files/output/*
acrg_hbmcmc/Temp/*
*.ipynb_checkpoints*
*~
.cache
.DS_Store
acrg_config/paths.y*ml

