*.pyc
*.bak
tests/.cache/v/cache/lastfailed
acrg_tdmcmc/param.ini
acrg_satellite/gosat_process.ini
tests/files/NAME/raw_output/*/*/PROCESS*.txt
tests/files/NAME/raw_output/*/*/Processed_Fields_files/*
tests/files/NAME/raw_output/*/*/Processed_Fields_files_Org
tests/files/output/*
tests/files/NAME/bc/EUROPE/ch4_EUROPE_20140*.nc
*.ipynb_checkpoints*
*~
.cache
.cache*
.pytest*
